.home {
  .name-intro {
    color: $Accent;
    font-weight: 500;
    font-size: 30px;
  }
  .name-heading {
    color: $LightestSlate;
    font-size: 96px;
  }
  .name-subheading {
    color: $Slate;
    font-size: 40px;
  }
  .short-bio {
    margin: 20px 0;
    color: $Slate;
    font-size: 20px;
  }
}

@media only screen and (max-width: 640px) {
  .home {
    .name-intro {
      font-size: 30px;
    }
    .name-heading {
      font-size: 72px;
    }
    .name-subheading {
      font-size: 40px;
    }
    .short-bio {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home {
    .name-intro {
      font-size: 30px;
    }
    .name-heading {
      font-size: 48px;
    }
    .name-subheading {
      font-size: 32px;
    }
    .short-bio {
      font-size: 20px;
    }
  }
}
